body {
  background-color: #f3f4f5;
}

.main {
  padding: 0 182px;
}

.board {
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.04);
  border: solid 1px #eaedf3;
  background-color: #ffffff;
  padding: 24px;
  margin: 18px 0;
}

.ui.section.divider {
  margin-top: 0;
  margin-bottom: 0;
}

.image-choice {
  margin-bottom: 8px;
}

#map {
  height: 100%;
}

.searching-location {
  margin-top: 8px;
}